/* GENERAL */
html, body {
    font-family: Raleway;
    line-height: 1;
} 
body {
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
}
#blocPage {
    max-width: 1400px;
    margin: 0 auto;
}
main {
    margin-right: 3%;
    margin-left: 3%;
}
h2 {
    padding-left: 2%;
    padding-top: 10px;
}
h3 {
    line-height: 1.20;
}
.ajustementCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ajustementAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ajustementBetween {
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
.ajustementColonneCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ajustementColonneAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ajustementColonneBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sansDecoration {
    text-decoration: none;
}
.sansBordures {
    border: none;
}
.policeGras {
    font-weight: bold;
}
/* NAVIGATION */
.sizeNav {
    height: auto;
}
.sizeLiens {
    width: 100%;
}
.sizeLien {
    width: 140px;
    height: 99px;
}
.sizeLien12 {
 margin-left: 60%;   
}
.couleurBleuClair {
    color: #deebff;
}
.couleurGris {
    color:#f2f2f2;
}
.couleurBleu {
    color: #0065FC;
}
.couleurNoire {
    color: black;
}
.backBleu {
    background-color:#0065FC;
}
.backGris {
    background-color: #f2f2f2;
}
.couleurLien13 {
    color:#0065FC;
}
.couleurLien2 {
    color:black;
} 
.bordureNav {
    border-top: 2px solid transparent;
}
.bordureNav:hover {
    border-top: 2px solid #0065FC;
    cursor: pointer;
}
.couleurNoire:hover {
    color: #0065FC;
}
.bordureNav:hover > a {    
    color: #0065FC; 
    }
.Logo {
    width: 120px;
    height: 50px;
}
.slogan {
    font: bold;
}
.margeSlogan {
    margin-top: 0;
}
/* HEADER */
.sansDesktop {
    display: none;
}
.bordureRechercher {
    width: 400px;
    border-radius: 15px;
    border: 0.5px solid #f2f2f2; 
}
.rechercher {
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-family: Raleway;
    color :rgba(20, 20, 20, 0.678);
    font-weight: bold;
    text-align: center;
    }
.margeIntRechercher{
    padding-left: 20px; 
    }
.iconeSize {
  height: 50px;
  width: 50px; 
  border-radius: 10px 0 0 10px;
}
.signifiantRechercher {
    height: 50px;
    width: 125px;    
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-family: Raleway;
    font-size: 18px;
    text-align: center;
}
.signifiantRechercher:hover { 
    color: #0065FC;
    background-color: #deebff;
    font-weight: bold;
}
/* FILTRES */
.margeFiltre {
    margin-top: 30px;
    margin-bottom: 15px;
    display: inline-flex;
    padding-right: 30px;
}
.filtre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.margeFiltreTitre {
    margin-left: 10px;
    margin-right: 15px;
}
.filtreTexteIcons {
    border: 2px solid #e2dfdf;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    font-weight: bold;
}
.filtreTexteIcons:hover {
    border: 2px solid #deebff;
    height: 50px;
    background-color: #deebff;
}
.filtreTexteIcons:hover > .filtreTexte {
    color: #0065FC;
    cursor: pointer;
}
.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065FC;
    cursor: pointer;  
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
}
/* INFO ICONE */
.info {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-bottom: 15px;
}
.cercleIcone {
    width: 23px;
    height: 23px;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    margin-right: 5px;
}
/* HEBERGEMENTS */
.conteneurHebergements {
    flex: 2.2;
    height: 630px;
    margin-right: 25px;
    border-radius: 15px;
    }
.blocHebergement {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 0;
   }
.bloc1 {
    margin-bottom: 25px;
    margin-left: 12px;
    margin-right:12px ;
}
.bloc2 {
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
}
.interligneHebergement {
    width: 100%;
    line-height: normal;    
}
.carteHebergement {
    width: 29%;
    height: auto;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0 0 15px #0000002e;
    position: relative;
}
.carteHebergement:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.carteDetailsHebergement {
    width: 100%;
    padding-left: 4%;
    font-size: 80%;
    padding-bottom: 5px;
}
.imgHebergement1 {
    background-image: url("../img/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement2 {
    background-image: url("../img/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement3 {
    background-image: url("../img/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement4 {
    background-image: url("../img/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement5 {
    background-image: url("../img/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement6 {
    background-image: url("../img/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}
.margesAfficher {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 3%;
}
/* POPULAIRES */
.conteneurPopulaires {
    flex: 1;
    height: 630px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    width: 100%;
}
.margeIconePop {
    padding-right: 2%;
}
.blocPopulaires12 {
    margin-bottom: 26px;
}
.margeTextCartePop {
    margin-top: -5%;
    margin-bottom: 18%;
}
.interligneCartePop {
    line-height: 1.3;
}
.imgPopulaires1 {
    background-image: url("../img/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 42%;
    height: 140px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires2 {
    background-image: url("../img/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 42%;
    height: 140px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires3 {
    background-image: url("../img/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 42%;
    height: 140px;
    border-radius: 15px 0 0 15px;
}
.cartePopulaires {
    background-color: white;
    height: auto;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0 0 15px #0000002e;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
}
.cartePopulaires:hover {
    cursor: pointer;
    transform: scale(1.04); 
}
.carteDetailsPopulaires {
    width: 50%;
    padding-left: 6%;
    padding-right: 6px;
    font-size: 80%;
}
/* ACTIVITES */
.Activites {
    margin-top: 50px;
    margin-bottom: 50px;    
}
.blocActivites {
    width: 100%;
    height: 500px;
}
.blocActivites23456 {
    width: 23%;
    height: 500px;
}
/* réglage bloc */
.carteActivite {
    width: 23%;
    border-radius: 15px;
    box-shadow: 0 0 15px #0000002e;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.carteActivite:hover {
    cursor: pointer;
    transform: scale(1.04);
}
.carteActivite23456 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2; 
}
.carteActivite23456:hover {
    cursor: pointer;
    transform: scale(1.04);
}
/* finition bloc */
.hauteurTitre {
    height: 70px;
}
.titreActivites {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 90%;
}
.imgActivite1 {
    background-image: url("../img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 15px 15px 0 0;
}
.imgActivite2 {
    background-image: url("../img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 184px;
    border-radius: 15px 15px 0 0;
}
.imgActivite3 {
    background-image: url("../img/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 140px;
    border-radius: 15px 15px 0 0;
}
.imgActivite4 {
    background-image: url("../img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 15px 15px 0 0;
}
.imgActivite5 {
    background-image: url("../img/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 162px;
    border-radius: 15px 15px 0 0;
}
.imgActivite6 {
    background-image: url("../img/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 162px;
    border-radius: 15px 15px 0 0;
}
/* FOOTER */
.footer {
    height: 200px;
    margin-top: 40px;
}
.tailleBlocFoot {
  height: 150px;  
}
.margeBlockFoot1{
   margin-left:3%
}
.margeBlockFoot3 {
    padding-right: 25%;
}
/* RESPONSIVE */
@media screen and (max-width: 1300px) {
    .sizeLien12 {
     margin-left: 50%;
    }
    .margeFiltre {
        margin-top: 20px;
    }
    .conteneurHebergements {
        min-height: auto;
        padding: 20px;
    }
    .conteneurPopulaires {
        min-height: auto;
        padding: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .sizeLien12 {
        margin-left: 40%;
    }
    .filtreTexteIcons {
        margin-bottom: 20px;
    }
    .margeFiltre {
        margin-top: 20px;
    }
    #hebergements {
        flex-direction: column-reverse;
        width: 100%;
    } 
    .conteneurPopulaires {
        flex: none;
        width: 92%;
        margin-left: 0;
        padding: 3%;
        height: auto;  
    } 
    .conteneurHebergements {
        flex: none;
        width: 92%;
        margin-right : 0;
        padding: 3%;
        margin-top: 40px;
        height: 680px;
    }
    .carteHebergement {
        max-height: 380px;
    }
    .carteDetailsHebergement {
        min-height: 110px ;  
    }
     .interligneCartePop {
        line-height: 1.2;
        font-size: 130%;
    }
    .margeTextCartePop {
        margin-top: 8%;
        margin-bottom: 18%;
        font-size: 120%;
    }
    .responsiveEtoiles {
        font-size: medium;
    }
    .imgPopulaires1,
    .imgPopulaires2,
    .imgPopulaires3 {
        width: 50%;
        height: 250px;
    }
}
@media screen and (max-width: 775px) {
    .sizeLien12 {
        margin-left: 20%;
       }
    .carteDetailsHebergement {
        min-height: 150px ;
        font-size: 100%;
    }
    .conteneurHebergements {
        height: auto;
    }
    .bloc1 {
        flex-direction: column;
        margin-bottom: 0;
    }
    .bloc2 {
        flex-direction: column;
        margin-top: 0;
    }
    .carteHebergement {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    .imgHebergement1,
    .imgHebergement2,
    .imgHebergement3,
    .imgHebergement4,
    .imgHebergement5,
    .imgHebergement6 {
        width: 100%;
        height: 150px;
        background-size: cover;
        background-position: center;
    }
    .carteDetailsHebergement {
        max-height: 40%;
    }
    .imgPopulaires1,
    .imgPopulaires2,
    .imgPopulaires3 {
        width: 45%;
        height: 200px;
        background-size: cover;
        background-position: center;
    }
    .blocActivites {
        flex-direction: column;
        height: auto;
    }
    .carteActivite {
        width: 92%;
        margin-bottom: 20px;
    }
    .blocActivites23456 {
        width: 92%;
        height: auto;
    }
    .carteActivite23456 {
        margin-bottom: 20px;
    }
    .imgActivite1,
    .imgActivite2,
    .imgActivite3,
    .imgActivite4,
    .imgActivite5,
    .imgActivite6 {
        height: 230px;
    }
   
    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 30px;
        margin-top: 0;
    }
    .margeBlockFoot1 {
        margin-left: 0;
        margin-bottom: 35px;
    } 
    .footer {
        padding-left: 40px;
    }     
}
@media screen and (max-width: 600px) {
    .sizeLien {
        flex-direction: row;
        height: 45px;
    }
    .sizeLien12 {
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .mobileFiltreWrap {
        flex-direction:column;
        align-items: flex-start;
    }
    .sizeLienMobile {
        width: 50%;
        border-top: 0;
        border-bottom: 4px solid #f2f2f2;
    }
    .sizeLienMobileTransparent {
        width: 50%;
        border-top: 0;
        border-bottom: 4px solid transparent;
    }
    .sizeLiens {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sizeLienMobile:hover {
        border-top: 0;
        border-bottom: 4px solid #0065FC;
    }
    .mobileTitreh1 {
        font-size: x-large;
    }
    .margeSlogan {
        margin-top: 30px;
    }
    .bordureRechercher {
        width: auto;
        border: none;
        padding-top: 30px;
    }
    .rechercher {
        width: 200px;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;   
    }
    .signifiantRechercher {
        width: 50px;
        border-radius: 15px;
    }
    .carteDetailsHebergement {
        min-height: 70%;
    }
    .conteneurHebergements {
        border-radius: 15px ;
    }
    .conteneurPopulaires {
        border-radius: 15px;
    }
    .cartePopulaires {
        max-height: 220px;
    }
    .sansDesktop {
        display: block;
    }
    .sansMobile {
        display: none;
    }    
    html,
    body {
        margin: 0;
        padding: 0;
    }
}